@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem-Vindo!</h1>
    <img src="https://i.pinimg.com/originals/32/e4/5b/32e45b5394c50179fe0da36a961a25a5.jpg" class="img-fluid" alt="Responsive image">
</div>

    

